<%- include('./includes/head')%>
    <div class="container">
        <div class="profile-card">
            <h1>Seu Perfil</h1>
            <p>E-mail: <%= user.email%></p>
            <a href="/diary/profile/logout">Sair</a>
        </div>
    </div>
<%- include('./includes/footer')%>