<%- include('./includes/head')%>
    <div class="navbar">
        <div class="logo">Diary</div>
        <a href="/diary/profile" class="profile-icon" title="Perfil">
        <i class="fas fa-user"></i>
        </a>
    </div>

    <div class="cont-list">
        
    </div>
<%- include('./includes/footer')%>